
<div class="col-4">
    {% for quicklink in quickLinks %}

            {{ quicklink.getTitle() }}
        <a href={{ quicklink.getUrl() }}> {{ quicklink.getIconUrl()}} </a>

    {% endfor %}
</div>
<!--=======-->

