{% extends 'adminBase.html.twig' %}

{% block title %}
    Årsrapporter
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Årsrapporter</li>

    <div class="btn-group">
        <a class="btn text-success"
           href="{{ path('create_report')}}">
            <i class="fa fa-plus text-success"></i>
            Ny årsrapport
        </a>
    </div>
{% endblock %}

{% block breadcrumb_menu %}
{% endblock %}


{% block body %}

    <h2 class="text-center my-5">Årsrapporter</h2>

    <div class="card">

        <div class="card-header"><i class="fa fa-check-square"></i>Årsrapport</div>
        <div class="table-responsive">

            <table style="width:100%;" class="application-table table table-striped">
                <thead>
                <tr>
                    <th>År</th>
                    <th>Fil</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>


{% endblock %}


