<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Min side</title>
</head>
<body>
    <div class="tittel">

        <h1>Hello world</h1>
        <h2>{{ imported }}</h2>

        {% for cube in kubene %}
            <div>
                {{ cube.getName() }}
                <br>
                Lengde: {{ cube.getLength() }}
                <br>
                Volum: {{ cube.getVolume() }}
                <br><br>
            </div>
        {% endfor %}

    </div>

</body>
</html>

<style>
    .tittel {
        color: #0b58a2;
        padding-bottom: 100px;
    }
</style>